.photo-gallery {
    margin-top: 25px;
}
.photo-gallery-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 10px auto;
    align-items: stretch;
    flex-grow: 1;
}


.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Увеличен отступ для кнопки "Фильтры" */
}

.sort-button {
    background-color: #2d3034;
    color: #fff; /* Добавлен цвет текста для лучшей читаемости */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.sort-button:hover {
    background-color: #2d3034;
    opacity: 1;
}

.filter-button {
    background-color: #2a2b2f; /* Цвет кнопки "Фильтры" */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #2a2b2f;
    opacity: 1;
}

.class-select {
    background-color: #2d3034;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.class-select:focus {
    background-color: #2d3034;
    outline: none;
}

.class-select > option {
    background-color: #2d3034;
    color: #fff;
}

.animal-filters {
    background-color: #2d3034;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.animal-filters label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none; /* Запрет выделения текста при клике */
    font-size: 16px;
    gap: 5px;
}

.animal-filters input[type="checkbox"] {
    opacity: 1;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

/* Исправление селекторов для чекбоксов */
.animal-filters input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.animal-filters input[type="checkbox"]:checked + label::before {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

/* Эффект при наведении */
.animal-filters label:hover::before {
    background-color: #f0f0f0;
}

.photo-gallery-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.no-photos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.no-photos {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.results-header {
    width: 100%;
    text-align: center;
}


/* Стили для панели фильтров */
.filters-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2a2b2f;
    color: #fff;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    animation: display 0.3s ease, opacity 0.3s ease;
    width: 500px;
    margin: 0 auto 10px;
}

/* Стили для разделов фильтров */
.filter-section {
    margin-bottom: 20px;
}

.filter-section h3 {
    margin-bottom: 10px;
}

/* Стили для чекбоксов внутри панели фильтров */
.filters-panel label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.filters-panel input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}
.btn.class-select.sort-button:focus:not(:focus-visible) {
    outline: 0;
    background-color: transparent;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        align-items: center;
    }

    .sort-button,
    .filter-button {
        width: 100%;
        max-width: 300px;
    }

    .filters-panel {
        width: 100%;
    }
}
.photo-description-container{
    width: 500px;
    border: 1px solid white;
    border-radius: 15px 15px 0 0;
    border-bottom: none;
    align-self: stretch;
    flex-grow: 1;
    overflow-x: scroll;
}
@media (max-width: 1080px) {
    .photo-description-container {
        width: 400px;
    }
}

/* Для экранов шириной менее 480px */
@media (max-width: 480px) {
    .photo-description-container {
        width: 100%;
    }
}

.photo-description-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and newer Edge */
}
.photo-description-animal{
    width: 100%;
}

.photo-description-filename{
    font-size: 16px;
}

.photo-description-animal-item{
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.photo-description-animal-item__name{
    width: 100%;
    text-align: center;
}

.photo-description-animal-header{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 500px;
}
.photo-description-animal-body{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.photo-description-objects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.results-header-container{
    position: relative;
    width: 100%;

}
.download-button-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
